@import '~styles/attributes';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  max-width: 450px;
}

.p {
  font-size: 0.8rem;
  text-align: center;
}

.addressCont {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-bottom: 10px;
}
.address {
  font-size: 0.6rem;
  color: darken($c-white, 30%);
  text-align: center;
}
.error {
  font-size: 0.8rem;
  color: $c-red;
}