@import '~styles/attributes';

.container {
  display: flex;
  flex-direction: column;
}

.category {
  padding-bottom: 15px;
  border-bottom: 1px solid $c-white;
  width: 100%;
  .text {
    font-size: 1.5rem;
    color: $c-white;
  }
}

.balances {
  flex: 1 1 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.content {
  flex: 1 1 100%;
}

.actionsContainer{
  flex: 0 0 100%;
}