@import 'reset';
@import 'attributes';

body {
  background-color: $c-dark;
  color: $c-white;
  font-family: $f-main;
}

html {
  font-size: $f-main-size;
}

a, a:hover, a:visited {
  color: $c-white;
  text-decoration: none;
}

input[type="text"],
input[type="password"],
input[type="number"]
{
  display: block;
  margin: 0;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus
{
  outline: none;
}

:global {
  #app {
    position: relative !important;
    padding-top: 60px;
    padding-bottom: 50px;
    overflow-x: hidden;
    min-height: 100vh;
  }
}