@import 'reset';
@import 'attributes';

body {
  background-color: $c-dark;
  color: $c-white;
  font-family: $f-main;
}
html {
  font-size: $f-main-size;
}

#app {
  height: 100%;
  width: 100%;
}
.layout-container {
  height: 100%;
  width: 100%;
}
