@import 'reset';
@import 'attributes';

body {
  background-color: $c-dark;
  color: $c-white;
  font-family: $f-main;
}

html {
  font-size: $f-main-size;
}

a, a:hover, a:visited {
  color: $c-white;
  text-decoration: none;
}