@import '~styles/attributes';

.container {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.amount {
  font-size: 1.5rem;
  color: $c-white;
  line-height: 50px;
}

.code {
  line-height: 50px;
  color: $c-grey;
}
.code-BTC {
  color: $c-c-btc;
}
.code-ETH {
  color: $c-c-eth;
}

.balances {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}