@import '~styles/attributes';

@import '../LoginView/style';

.whatSeed {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 0.6rem;
  color: $c-rose-l-2;
  margin-top: 15px;
  cursor: pointer;
}

.containerAfter {
  composes: container;
  text-align: center;
}

.messageLight {
  color: $c-light;
  font-size: 0.8rem;
}