@import '~styles/attributes';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  width: 300px;
}

.message {
  font-size: 0.8em;
  text-align: center;
}

.messageError {
  composes: message;
  color: $c-red;
}