@import '~styles/attributes';

.container {
  width: 100%;
  max-width: $s-width;
  margin: auto;
}

.categoryContent {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.credentialPub {
  font-size: 0.7em;
  display: block;
  color: $c-green;
  text-align: center;
}
.credentialPriv {
  font-size: 0.7em;
  display: block;
  text-align: center;
  color: $c-red;
}

.informations {
  font-size: 0.8rem;
  color: $c-light;
  text-align: center;
  line-height: 1rem;
}