@import '~styles/attributes';

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.titleContainer {
  position: relative;
}

.title {
  font-size: 24vw;
  @include noselect();
}
.alpha {
  position: absolute;
  top: 14px;
  right: -33px;
  font-family: $f-secondary;
  font-size: 3vw;
  color: $c-green;
  text-transform: uppercase;
  @include noselect();
}

.subtitle {
  @include noselect();
  font-size: 4vw;
  font-family: $f-secondary;
  color: $c-rose;
  text-align: center;
}

.bottomText {
  margin-top: 85px;
  font-size: 0.8em;
  text-align: center;
  @include noselect();
}
.arrowDown {
  height: 18px;
}

@keyframes animationOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

.animationOut {
  margin-top: 10px;
  -webkit-animation: animationOut 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
  -moz-animation: animationOut 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
  animation: animationOut 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
}

.gotoContainer {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  bottom: 0;
  justify-content: center;
  .text {
    text-align: center;
  }
  .arrow {
    text-align: center;
  }
}

@media (min-width: 900px) {
  .title {
    font-size: 11rem;
  }
  .alpha {
    font-size: 1rem;
  }
  .subtitle {
    font-size: 2rem;
  }
}