@import '~styles/attributes';

.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.titleContainer {
  position: relative;
}

.title {
  font-size: 10rem;
  @include noselect();
}
.alpha {
  position: absolute;
  top: 14px;
  right: -33px;
  font-family: $f-secondary;
  font-size: 0.9rem;
  color: $c-green;
  text-transform: uppercase;
  @include noselect();
}

.subtitle {
  @include noselect();
  font-size: 2rem;
  font-family: $f-secondary;
  color: $c-rose;
  text-align: center;
}

.bottomText {
  margin-top: 100px;
  font-size: 0.8em;
  @include noselect();
}
.gotoContainer {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  bottom: 0;
  justify-content: center;
  .text {
    text-align: center;
  }
  .arrow {
    text-align: center;
  }
}

