@import '~styles/attributes';

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 25px;
  cursor: pointer;
  height: 40px;
  min-width: 120px;
  font-size: 0.7rem;
  margin: 8px;
  background-color: $c-white;
  color: $c-dark;

  border: 2px solid $c-dark;

  &.disabled {
    background-color: $c-dark;
    color: $c-white;

    border: 2px solid $c-white;
  }
  &.activated {
    background-color: $c-dark;
    color: $c-white;

    border: 2px solid $c-white;
  }
}