@import '~styles/attributes';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: stretch;
  max-width: 400px;
  margin: 10px auto;
}

.scanIntent {
  text-align: center;
  cursor: pointer;
}

.qrContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.videoContainer {
  width: 70%;
}