@import '~styles/attributes';

.select {
  background: $c-dark;
  color: $c-white;
  border: none;
  font-size: 0.8rem;
  height: 40px;
  padding: 5px;
  width: 120px;
}

.select:focus {
  outline: none;
}